# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

#misc files
*.pdb
*.db
*.bak
.vs
*.ilk
asteroids_d3d12/build/Debug/obj
D3D12Multithreading/src/obj
HybridDetectConsole/x64/Debug
D3D12Multithreading/src/bin/x64/Debug
asteroids_d3d12/build/Release/obj
D3D12Multithreading/src/bin/x64/Release
HybridDetectConsole/x64/Release
x64/Release
